body {
  background-image: url(../media/images/background_admin.jpg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.admin-box {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.admin-box-form {
  width: 380px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.admin-box-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
}

.admin-box-subtext {
  font-size: 12px;
  display: block;
  margin: 5px 0;
}
